assets/Symphony.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="params" type="symphonyElement" />
				<xs:element name="events" type="symphonyElement" />
				<xs:any minOccurs="0" processContents="lax" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="symphonyElement">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any minOccurs="0" processContents="strict" />
		</xs:choice>
	</xs:complexType>
</xs:schema>